<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thegoldenrecipe">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheGoldenRecipe"
        tools:targetApi="31">
        <activity
            android:name=".Example_I_Br"
            android:exported="false" />
        <activity
            android:name=".Ibeverages_page"
            android:exported="false" />
        <activity
            android:name=".Example_I_S"
            android:exported="false" />
        <activity
            android:name=".Isweetspage"
            android:exported="false" />
        <activity
            android:name=".Example_I_M"
            android:exported="false" />
        <activity
            android:name=".Imainpage"
            android:exported="false" />
        <activity
            android:name=".Example_I"
            android:exported="false" />
        <activity
            android:name=".Ipage"
            android:exported="false" />
        <activity
            android:name=".Apage"
            android:exported="false" />
        <activity
            android:name=".Example_A_Br"
            android:exported="false" />
        <activity
            android:name=".Abeveragespage"
            android:exported="false" />
        <activity
            android:name=".Example_A_S"
            android:exported="false" />
        <activity
            android:name=".Example_A_M"
            android:exported="false" />
        <activity
            android:name=".Example"
            android:exported="false" />
        <activity
            android:name=".Asweetspage"
            android:exported="false" />
        <activity
            android:name=".Amainpage"
            android:exported="false" />
        <activity
            android:name=".Cuisines"
            android:exported="false" />
        <activity
            android:name=".Welcomingpage"
            android:exported="false" />
        <activity
            android:name=".GIFpage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>